.gallery{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.info_container{
    float: left;
    width: 300px;
    height:200px;
    margin: 10px;
    padding: 10px;
    border: 5px solid chartreuse;
    background-color: aquamarine;
    box-sizing: border-box; /* Include padding and border in the width */

}

.image_container{
    width: 100%;
    height: 100%;
    margin-bottom:10px;
}
.image_container img{
    width: 100%;
    height: 100%;
}
.text_container{
    width: 100%;
    margin-top:10px;
    color: rgba(8, 82, 47, 0.862);
}
.info_container:hover img{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}